<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>1</integer>
	<key>CPU_line_chart_color</key>
	<string>utilization</string>
	<key>CPU_mini_color</key>
	<string>monochrome</string>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>1</string>
	<key>Disk_notifications_utilization_state</key>
	<false/>
	<key>Disk_state</key>
	<true/>
	<key>GPU_state</key>
	<true/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>2</integer>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconColor</key>
	<string>transparent</string>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_barChart_position</key>
	<integer>3</integer>
	<key>RAM_label_position</key>
	<integer>1</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_color</key>
	<string>monochrome</string>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_notifications_pressure_state</key>
	<false/>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_fanControl</key>
	<true/>
	<key>Sensors_hid</key>
	<true/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_sensor</key>
	<string>PSTR</string>
	<key>Sensors_stack_position</key>
	<integer>1</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>4900</integer>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<false/>
	<key>sensor_PSTR</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1761583096</integer>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1763380987</integer>
	<key>version</key>
	<string>2.11.61</string>
</dict>
</plist>
